@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;200;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282a3a;
  border-radius: 50px;
  box-shadow: inset 0 0 5px 0 #32323220;
}
::-webkit-scrollbar-thumb {
  background: #c69749;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #735f32;
}

@media screen and (min-width: 1024px) {
  .cardSummary1 {
    animation-name: floating;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cardSummary2 {
    animation-name: floating2;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  .cardSummary3 {
    animation-name: floating3;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cardSummary4 {
    animation-name: floating4;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -40px);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating3 {
  0% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -20px);
  }
}

@keyframes floating4 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.custom-list-disc {
  list-style-type: none;
  padding-left: 1.5em; /* Adjust the spacing based on your design */
}

.custom-list-disc li::before {
  content: "•"; /* Unicode character for a bullet, you can replace it with your custom symbol */
  color: #C69749; /* Custom color for the bullet */
  display: inline-block;
  width: 1em; /* Adjust the size of the bullet */
  margin-left: -1em; /* Adjust the spacing between the bullet and the text */
}
