@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282A3A;
  border-radius: 50px;
  box-shadow: inset 0 0 5px 0 #32323220;
}
::-webkit-scrollbar-thumb {
  background: #C69749;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #735F32;
}

@media screen and (min-width: 1024px) {
  .cardPalapedia1 {
    animation-name: floating;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cardPalapedia2 {
    animation-name: floating2;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  .cardPalapedia3 {
    animation-name: floating3;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cardPalapedia4 {
    animation-name: floating4;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -40px);
  }
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating3 {
  0% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -20px);
  }
}

@keyframes floating4 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
